.container{
    background-color:yellow;
    border-radius:5px solid aqua;
    box-sizing:border-box;
    justify-content:center;

}
.card{
    background-color:black;
    border-radius:5px solid red;
    justify-content:center;
}
.img{
    width:300px;
    height:300px;
}