body{
    font-family:italic;
    color:aqua;
    background-color:black;
}
.product-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    background:aqua;
}
.product-card{
    border-radius:5px;
    background-color:black;
    border:2px solid white;
    box-sizing: border-box;
    padding: 20px;
    width:auto;

}
.product-card img{
    border-radius:5px;
    width:250px;
    height:200px;
}
.product-card h3{
    text-align:center;
    color:white;

}

.product-card button{
    background-color:green;
    border-radius:5px;
    color:white;
}